<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <th:block th:replace="fragments/head"></th:block>
</head>
<body>

<th:block th:replace="fragments/navbar"></th:block>

<div class="container">
  <h2 class="mt-5">Seu produto:</h2>
  <p>Nome: <strong th:text="${product.getName()}"></strong></p>
  <p>Descrição: <strong th:text="${product.getDescription()}"></strong></p>
  <p>Quantidade: <strong th:text="${product.getQuantity()}"></strong><strong th:text="${product.getUnity().getDescricao()}"></strong></p>
  <p><strong th:text="${product.getCreatedAt()}"></strong></p>

  <a th:href="@{/}" class="btn btn-primary">Go back</a>
</div>

</body>
</html>