<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments/head"></th:block>
    <link th:rel="stylesheet" th:href="@{assets/datatable/datatable.css}"/>
</head>
<body>
<th:block th:replace="fragments/navbar"></th:block>
<div class="container">
    <div class="row">
        <div class="col-md-12 mt-5 mb-5">
            <div class="panel-body">
                <table id="clients" class="table table-bordered table-responsive" style="width: 100%">
                    <thead>
                    <tr>
                        <th>Cliente</th>
                        <th>CPF</th>
                        <th>Endereço</th>
                        <th>Telefone</th>
                        <th>Última atualização</th>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>

<th:block th:replace="fragments/footer"></th:block>
<script th:src="@{assets/datatable/datatable.js}"></script>
<script>
    $('#clients').DataTable({
        "serverSide": true,
        "ajax": {
            "url": "api/client",
            "type": "POST",
            "dataType": "json",
            "contentType": "application/json",
            "data": function (d) {
                return JSON.stringify(d);
            }
        },
        "language": {
            "decimal":        "",
            "emptyTable":     "Não há dados disponíveis",
            "info":           "Exibindo _END_ de _TOTAL_ registros",
            "infoEmpty":      "Exibindo 0 de 0 registros",
            "infoFiltered":   "(filtrado de _MAX_ registros)",
            "infoPostFix":    "",
            "thousands":      ".",
            "lengthMenu":     "Exibir _MENU_ registros",
            "loadingRecords": "Carregando...",
            "processing":     "",
            "search":         "Buscar:",
            "zeroRecords":    "Nenhum registro encontrado",
            "paginate": {
                "first":      "Primeira",
                "last":       "Última",
                "next":       "Próxima",
                "previous":   "Anterior"
            },
            "aria": {
                "sortAscending":  ": ativar ordem crescente",
                "sortDescending": ": ativar ordem decrescente"
            }
        },
        "columns": [
            {"data": "name", "width": "20%"},
            {"data": "document","width": "20%"},
            {"data": "address", "width": "20%"},
            {"data": "phone", "width": "20%"},
            {"data": "updatedAt", "width": "20%"}
        ]
    });
</script>

</body>
</html>